@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar{
        display: none
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.panel{
    @apply bg-[#100530]/50 border border-white/10 p-5 rounded-lg backdrop-blur-xl shadow-md
}

.bg-main{
    @apply bg-[#101c33]
}

.alpha-color{
    @apply bg-gradient-to-br from-pink-800 via-fuchsia-800 to-violet-800
}